<template>
  <div class="main">
    app
  </div>
</template>


<script>
// import Axios from "axios";
export default {
  name: "MainPage",
  data() {
    return {
    };
  },
  components: {

  },
  computed: {
    },
  methods: {

  },
  created: {
  
  },
  mounted: {
  },
};
</script>


<style scoped>


</style>
