<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {}
}
</script>

<style>
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
